body {
    background-color: #1d1d1d;
    color: #fafafa;
    font-family: "Bahnschrift", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 30px;
}


.Bui {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем по горизонтали */
}

.ui {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    width: 100%; /* Занимает всю доступную ширину */
    min-width: 650px; /* Максимальная ширина блока */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 20px;
    /*margin-left: 300px;*/
    box-sizing: border-box; /* Учитывает padding и border в расчете ширины */
}





.header {
    margin-top: 30px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #2c3e50;
    align-self: center;
    min-width: 150px;
}

.input-field {
    color: grey;
    background-color: #121212;
    border-radius: 15px;
    border: #121212;
    transition: transform 0.3s ease;
}

.input-field:focus {
    transform: scale(102%);
    background-color: #212121;
    border: 2px #212121 solid;
}









.css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.css-checkbox + label {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 28px;
    color: #fafafa;

}

.css-checkbox + label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    background-color: #121212;
    border-width: 1px;
    border-style: solid;
    border-color: #121212;
    border-radius: 7px;
    box-shadow: none;
}

.css-checkbox:checked + label::after {
    content: " ";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmNiYzNjIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    left: 0px;
    top: 0px;
    text-align: center;
    background-color: transparent;
    font-size: 10px;
    height: 29px;
    width: 35px;
}



/* Стили для кнопки */
#popupButton {
  position: fixed;
  top: 10px; /* Расположить вверху */
  right: 10px; /* Расположить справа */
  padding: 10px 20px;
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
