body {
    background-color: #1d1d1d;
    color: #fafafa;
    font-family: "Bahnschrift", sans-serif;
    margin: 0;
}

.header {
    margin-top: 30px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #2c3e50;
    align-self: center;
    min-width: 150px;
}

.input-field {
    color: grey;
    background-color: #121212;
    border-radius: 15px;
    border: #121212;
    transition: transform 0.3s ease;
}

.input-field:focus {
    transform: scale(102%);
    background-color: #212121;
    border: 2px #212121 solid;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ecf0f1;
    align-items: center;
    font-size: 50pt;
    padding: 30px;
}

.container {
    display: flex;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #34495e;
}

.register-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.login-container {
    background-color: #1d1d1d;
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 40%;
}

.form-group {
    width: 100%;
    display: flex;
    padding-right: 20px;
}

label {
    font-size: 25px;
    margin-bottom: 8px;
    margin-left: 20px;
    display: block;
    align-self: center;
}

.action-button {
    background-color: #feb626;
    color: #1d1d1d;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 30%;
}

.action-button:hover {
    transform: scale(110%);
}

.registration {
    margin-top: 25px;
    text-align: center;
}

.registration a {
    color: #feb626;
    text-decoration: underline;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #1d1d1d;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.close:hover {
    color: #feb626;
}

.register-container .form-group {
    width: 90%;
}

.register-container .action-button {
    width: 55%;
    justify-content: center;
}

.checkbox-admin {
    color: #feb626;
    background-color: #feb626;
}

<!--
svorovanniy checkbox

-->

.css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.css-checkbox + label {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 28px;
    color: #fafafa;

}

.css-checkbox + label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    background-color: #121212;
    border-width: 1px;
    border-style: solid;
    border-color: #121212;
    border-radius: 7px;
    box-shadow: none;
}

.css-checkbox:checked + label::after {
    content: " ";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmNiYzNjIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    left: 0px;
    top: 0px;
    text-align: center;
    background-color: transparent;
    font-size: 10px;
    height: 29px;
    width: 35px;
}