{% extends 'base/base.html' %}

{% block title %}
    Призы
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/prizes.css">
{% endblock %}

{% block content %}
    <body style="margin: 20px">
    <h1 style="font-size: 35px">Полученные призы</h1>
    <div style="margin-top: 15px" class="filter">
        <h4 style="font-size: 28px; margin-right: 20px; align-self: end">поиск</h4>
        <input class="input-field" id="searchInput" type="text">
    </div>
    <div>
        <ul id="prizes" style="margin-top: 20px">
            {% for prize in prizes %}
                <li>
                    <div class="prize-box">
                        <div class="image-container"
                             style="background-image: url(http://localhost:8080/data/images/ships/{{ prize.id }})"></div>
                        <div class="prize-desc">
                            <strong>{{ prize.name }}</strong>
                            <br>
                            <span>
                                    {{ prize.description }}
                            </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var searchValue = this.value.toLowerCase();
            var listItems = document.querySelectorAll('.prize-box');

            listItems.forEach(function (item) {
                var text = item.textContent.toLowerCase();
                var isMatch = text.includes(searchValue);
                item.style.display = isMatch ? 'flex' : 'none';
            });
        });
    </script>
    </body>
{% endblock %}