{% extends "base/base.html" %}

{% block title %}
    SeaBattle
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/register.css">
{% endblock %}

{% block content %}
    <div align="center" style="padding-top: 20px">
        <h1 class="header">SeaBattle</h1>
    </div>

    <div class="ui">
        <div class="login-container">
            <h2 style="margin-bottom: 20px">бомжур 🌹</h2>
            <div class="form-group">
                <input class="input-field" type="email" id="email" name="email" required>
                <label for="email">почта</label>
            </div>

            <div class="form-group">
                <input class="input-field" type="password" id="password" name="password" required>
                <label for="password">пароль</label>
            </div>

            <button class="action-button">войти</button>

            <div class="registration">
                <a href="#registration-window">нет аккаунта? зарегистрируйтесь</a>
            </div>
        </div>
    </div>
    <div id="registration-window" class="overlay">
        <div class="popup">
            <h2 style="margin-left: 10px">регистрация</h2>
            <br>

            <a class="close" href="#">&times;</a>
            <div class="register-container">
                <div class="form-group">
                    <input class="input-field" type="email" id="email" name="email" required>
                    <label for="email">почта</label>
                </div>

                <div class="form-group">
                    <input class="input-field" type="password" id="password" name="password" required>
                    <label for="password">пароль</label>
                </div>

                <div class="checkbox-div" style="display: flex">
                    <input name="adminCheck" class="css-checkbox" type="checkbox" id="admin" style="display: none;">
                    <label for="admin">администратор</label>
                </div>

                <br>
                <button class="action-button">зарегистрироваться</button>
            </div>
        </div>
    </div>

{% endblock %}